[submodule "third_party/zig-sqlite"]
	path = third_party/zig-sqlite
	url = https://github.com/vrischmann/zig-sqlite
[submodule "third_party/zig-libcurl"]
	path = third_party/zig-libcurl
	url = https://github.com/mattnite/zig-libcurl.git
[submodule "third_party/zig-zlib"]
	path = third_party/zig-zlib
	url = https://github.com/mattnite/zig-zlib.git
[submodule "third_party/zig-mbedtls"]
	path = third_party/zig-mbedtls
	url = https://github.com/mattnite/zig-mbedtls.git
[submodule "third_party/zig-libssh2"]
	path = third_party/zig-libssh2
	url = https://github.com/mattnite/zig-libssh2.git
